# Auto detect text files and perform LF normalization
* text=auto

# Source code
*.ts text
*.js text
*.jsx text
*.tsx text
*.json text
*.md text
*.sql text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.pdf binary
